<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="html2openxml"
              switchValue="Verbose">
        <listeners>
          <add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="error.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>