# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: 'dotnet.yml'

on:
  push:
    branches: [ "dev" ]
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
  pull_request:

jobs:
  net5_above:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0', '10.0' ]
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET ${{ matrix.dotnet-version }}.
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Run tests
        run: dotnet test --framework net${{ matrix.dotnet-version }} --configuration Release --no-build --verbosity normal

  net462:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET Framework
        uses: microsoft/setup-msbuild@v2
      - name: Build
        run: msbuild test/HtmlToOpenXml.Tests/HtmlToOpenXml.Tests.csproj /p:Configuration=Release /p:TargetFramework=net462 /restore
      - name: Setup VSTest
        uses: darenm/Setup-VSTest@v1.2
      - name: Run tests (NET Framework)
        run: vstest.console.exe test\HtmlToOpenXml.Tests\bin\Release\net462\HtmlToOpenXml.Tests.dll /parallel
